# Virtual Environment
.venv/
venv/
env/

# Environment files
.env

#screenshots
screenshots/*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Config files with secrets
config.yaml
*.log

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Selenium
geckodriver.log
chromedriver.log